
.test {
    font-size: calc(16px + 1vw);
    line-height: calc(1.1em + 0.5vw);
    font-family: 'Josefin Sans', sans-serif;
}
/* font grows for every 100px of the viewport width */

body {
    background: 
    url(../images/new-hope.jpeg)
    center / 100px 100px
    no-repeat
    fixed
    padding-box
    content-box
    ;
}

/* standard background properties combination */